@{
    ViewData["Title"] = "Admin Paneli";
}

<div class="container mt-5">
    <h2>Admin Paneli</h2>
    <ul>
        <li><a href="/Admin/ManageEmployees">Çalışanları Yönet</a></li>
        <li><a href="/Admin/ManageServices">Hizmetleri Yönet</a></li>
        <li><a href="/Admin/ManageAppointments">Randevuları Yönet</a></li>
    </ul>
</div>
